@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.router-link-exact-active {
    border-bottom: 1px solid #f97316;
}

body {
    overflow-x: hidden;
    background-color: #17191e;
    min-height: 100vh;
    color: white;
}
